#pertanyaan{
    color : #4376b9;
    font-family: Calibri;
    font-size: 17px;
}

#header{
    color : #577aa7;
    font-family: calibri;
    font-size: 30px;
}

#list{
    color : black;
    font-family: calibri;
    font-size: 15px;
}